services:
  app:
    container_name: mpt_api_client
    build:
      context: .
      dockerfile: prod.Dockerfile
    working_dir: /mpt_api_client
    stdin_open: true
    tty: true
    volumes:
      - .:/mpt_api_client
    env_file:
      - .env

  bash: &dev_base
    image: mpt_api_client_dev
    build:
      context: .
      dockerfile: dev.Dockerfile
    working_dir: /mpt_api_client
    stdin_open: true
    tty: true
    volumes:
      - .:/mpt_api_client
    env_file:
      - .env

  app_test:
    <<: *dev_base
    command: bash -c "ruff format --check . && ruff check . && flake8 . && mypy . && uv lock --check && pytest tests/unit"

  format:
    <<: *dev_base
    command: bash -c "ruff check . --select I --fix && ruff format ."

  e2e:
    <<: *dev_base
    command: bash -c "pytest -p no:randomly --junitxml=e2e-report.xml tests/e2e"
