name: daily-e2e.yml
on:
  schedule:
    - cron: '0 8 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
    - name: "Checkout"
      uses: actions/checkout@v6
      with:
        ref: main

    - name: "Build test containers"
      run: make build

    - name: "Create environment file"
      run: env | grep -E '^MPT_' > .env
      env:
        MPT_API_BASE_URL: ${{ secrets.MPT_API_BASE_URL }}
        MPT_API_TOKEN: ${{ secrets.MPT_API_TOKEN }}
        MPT_API_TOKEN_CLIENT: ${{ secrets.MPT_API_TOKEN_CLIENT }}
        MPT_API_TOKEN_OPERATIONS: ${{ secrets.MPT_API_TOKEN_OPERATIONS }}
        MPT_API_TOKEN_VENDOR: ${{ secrets.MPT_API_TOKEN_VENDOR }}

    - name: "Run E2E test"
      run: make e2e args="--reportportal --rp-launch=$RP_LAUNCH --rp-api-key=$RP_API_KEY --rp-endpoint=$RP_ENDPOINT"
      env:
        RP_LAUNCH: github-e2e-cron-${{ github.ref_name }}
        RP_ENDPOINT: ${{ secrets.RP_ENDPOINT }}
        RP_API_KEY: ${{ secrets.RP_API_KEY }}

    - name: "Stop containers"
      if: always()
      run: make down
