name: PR build and merge

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
      - "release/**"

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: "Checkout"
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: "Build test containers"
      run: docker compose build app_test e2e

    - name: "Create environment file"
      run: env | grep -E '^MPT_' > .env
      env:
        RP_ENDPOINT: ${{ secrets.RP_ENDPOINT }}
        RP_API_KEY: ${{ secrets.RP_API_KEY }}
        MPT_API_BASE_URL: ${{ secrets.MPT_API_BASE_URL }}
        MPT_API_TOKEN: ${{ secrets.MPT_API_TOKEN }}
        MPT_API_TOKEN_CLIENT: ${{ secrets.MPT_API_TOKEN_CLIENT }}
        MPT_API_TOKEN_OPERATIONS: ${{ secrets.MPT_API_TOKEN_OPERATIONS }}
        MPT_API_TOKEN_VENDOR: ${{ secrets.MPT_API_TOKEN_VENDOR }}

    - name: "Run validation & test"
      run: docker compose run --service-ports app_test

    - name: "Run E2E test"
      run: docker compose run --service-ports e2e bash -c "pytest -v -p no:randomly --no-cov --reportportal --rp-launch=$RP_LAUNCH --rp-api-key=$RP_API_KEY --rp-endpoint=$RP_ENDPOINT --junitxml=e2e-report.xml tests/e2e"
      env:
        RP_LAUNCH: github-e2e-test
        RP_ENDPOINT: ${{ secrets.RP_ENDPOINT }}
        RP_API_KEY: ${{ secrets.RP_API_KEY }}


    - name: "Run SonarCloud Scan"
      uses: SonarSource/sonarqube-scan-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: "Stop containers"
      if: always()
      run: docker compose down
