name: PR build and merge

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
      - "release/**"

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: "Checkout"
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: "Build test containers"
      run: docker compose build app_test

    - name: "Create environment file"
      run: touch .env

    - name: "Run validation & test"
      run: docker compose run --service-ports app_test

    - name: "Run E2E test"
      run: docker compose run --service-ports -e MPT_API_BASE_URL=$MPT_API_BASE_URL -e MPT_API_TOKEN=$MPT_API_TOKEN e2e
      env:
        MPT_API_BASE_URL: ${{ secrets.MPT_API_BASE_URL }}
        MPT_API_TOKEN: ${{ secrets.MPT_API_TOKEN }}


    - name: "Run SonarCloud Scan"
      uses: SonarSource/sonarqube-scan-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: "Stop containers"
      if: always()
      run: docker compose down
