name: Release

on:
  release:
    types: [published]

permissions:
  id-token: write  # for OIDC
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
    - name: "Checkout"
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: "Build test containers"
      run: docker compose build e2e

    - name: "Create environment file"
      run: env | grep -E '^MPT_' > .env
      env:
        RP_ENDPOINT: ${{ secrets.RP_ENDPOINT }}
        RP_API_KEY: ${{ secrets.RP_API_KEY }}
        MPT_API_BASE_URL: ${{ secrets.MPT_API_BASE_URL }}
        MPT_API_TOKEN: ${{ secrets.MPT_API_TOKEN }}
        MPT_API_TOKEN_CLIENT: ${{ secrets.MPT_API_TOKEN_CLIENT }}
        MPT_API_TOKEN_OPERATIONS: ${{ secrets.MPT_API_TOKEN_OPERATIONS }}
        MPT_API_TOKEN_VENDOR: ${{ secrets.MPT_API_TOKEN_VENDOR }}

    - name: "Run E2E test"
      run: docker compose run --service-ports e2e bash -c "pytest -v -p no:randomly --no-cov --reportportal --rp-launch=$RP_LAUNCH --rp-api-key=$RP_API_KEY --rp-endpoint=$RP_ENDPOINT --junitxml=e2e-report.xml tests/e2e"
      env:
        RP_LAUNCH: github-e2e-cron-main
        RP_ENDPOINT: ${{ secrets.RP_ENDPOINT }}
        RP_API_KEY: ${{ secrets.RP_API_KEY }}

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: ".python-version"

    - name: "Install uv"
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.7.*"
        enable-cache: true
        cache-dependency-glob: uv.lock

    - name: "Get the version"
      id: get_version
      run: echo  "VERSION=${GITHUB_REF/refs\/tags\//}" >> "$GITHUB_OUTPUT"

    - name: "Build"
      run: |
        uv version ${{ steps.get_version.outputs.VERSION }}
        uv build

    - name: "Publish to PyPI"
      run: uv publish

  dtrack:
    uses: softwareone-platform/ops-template/.github/workflows/dependency-track-python-uv.yml@v1
    with:
      projectName: 'mpt-api-python-client'
    secrets:
      DEPENDENCYTRACK_APIKEY: ${{ secrets.DEPENDENCYTRACK_APIKEY }}
